# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
.venv/
venv/

# Secrets
.env
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# IDE / editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local user uploads / private data
data/uploaded_files/
data/dashboard_uploads/

# Logs
*.log